#shcHelperPU {
	position: absolute;
	padding: 5px;
	height: 75px;
	width: 125px;
	background: #fff;
	border: solid 2px #666;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 0px #000;
}
#shcHelperPU>a {
	display: block;
}